@using Squawkings.ViewModels
@model Squawkings.Models.ListSquawkingsViewModel
@{
	ViewBag.Title = "My Squawkings";
}
<div class="main-container">
	<div class="squawk-title">@ViewBag.Title</div>
	<div class="squawk-subtitle">
		See everything happening right now
	</div>
	@using (Html.Form<SquawkInputModel>())
	{
		<div class="squawk-input">
			<div class="editor-field">
				<!--<textarea id="squawk" name="squawk"></textarea>-->
				@Html.Input(model => model.Squawk.Squawk).Attr("placeholder", "This is my first Squawk!")
			</div>
			@Html.ValidationSummary(true)
			<div>
				<input type="submit" value="Squawk" />
			</div>
		</div>
	}
	<div class="squawk-list">
		@Html.Partial("_Squawks", Model.Squawks)
	</div>
</div>
