@model IEnumerable<Squawkings.Models.SquawkDisplay>
@{
	ViewBag.Title = "My Squawkings";
}
<div class="main-container">
	<div class="squawk-title">@ViewBag.Title</div>
	<div class="squawk-subtitle">
		See everything happening right now
	</div>
	<form method="POST" action="">
		<div class="squawk-input">
			<textarea name="squawk">This is my first Squawk!</textarea>
			<div>
				<input type="submit" value="Squawk" />
			</div>
		</div>
	</form>
	<div class="squawk-list">
		@Html.Partial("_Squawks")
	</div>
</div>
